{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Фильтр
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <form class="form" method="get">
                                <div class="form-group">
                                    <div class="range Section-columnRange">
                                        <input class="range-line" id="price" name="price" type="text" data-type="double"
                                               data-min="7" data-max="50" data-from="7" data-to="27"/>
                                        <div class="range-price">Цена:&#32;
                                            <div class="rangePrice">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-input form-input_full" id="title" name="title" type="text"
                                           placeholder="Название"/>
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
                                        <input type="checkbox"/><span class="toggle-box"></span><span
                                            class="toggle-text">Только товары в наличии</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
                                        <input type="checkbox"/><span class="toggle-box"></span><span
                                            class="toggle-text">С бесплатной доставкой</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit">Фильтр</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Популярные тэги
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="buttons"><a class="btn btn_default btn_sm" href="#">Видео</a><a
                                    class="btn btn_default btn_sm" href="#">Разработка</a><a
                                    class="btn btn_default btn_sm" href="#">Игры</a><a class="btn btn_default btn_sm"
                                                                                       href="#">Asus</a><a
                                    class="btn btn_default btn_sm" href="#">Разработка</a><a
                                    class="btn btn_default btn_sm" href="#">Видео</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Sort">
                        <div class="Sort-title">Сортировать по:
                        </div>
                        <div class="Sort-variants"><a class="Sort-sortBy Sort-sortBy_dec" href="#">Популярности</a><a
                                class="Sort-sortBy" href="#">Цене</a><a class="Sort-sortBy" href="#">Отзывам</a><a
                                class="Sort-sortBy Sort-sortBy_inc" href="#">Новизне</a>
                        </div>
                    </div>
                    <div class="Cards">
                        {% for product in products %}
                            <div class="Card">
                                <a class="Card-picture" href="#">
                                    {% if product.images.count %}
                                        <img src="{{ product.images.all.first.image_url }}" alt="{{ product.title }}"/>
                                    {% else %}
                                        <img src="{% static 'assets/img/product-placeholder.png' %}"
                                             alt="{{ product.title }}"/>
                                    {% endif %}
                                </a>
                                <div class="Card-content">
                                    <strong class="Card-title">
                                        <a href="{% url 'products:product' pk=product.pk %}">
                                            {{ product.title }}
                                        </a>
                                    </strong>
                                    <div class="Card-description">
                                        <div class="Card-cost">
                                <span class="Card-price">
                                  $85.00
                                </span>
                                        </div>
                                        <div class="Card-category">
                                            {{ product.category }}
                                        </div>
                                        <div class="Card-hover">
                                            <a class="Card-btn" href="#">
                                                <img src="{% static 'assets/img/icons/exchange.svg' %}"
                                                     alt="exchange.svg"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="Pagination">
                        <div class="Pagination-ins"><a class="Pagination-element Pagination-element_prev" href="#"><img
                                src="{% static 'assets/img/icons/prevPagination.svg' %}"
                                alt="prevPagination.svg"/></a><a
                                class="Pagination-element Pagination-element_current" href="#"><span
                                class="Pagination-text">1</span></a><a class="Pagination-element" href="#"><span
                                class="Pagination-text">2</span></a><a class="Pagination-element" href="#"><span
                                class="Pagination-text">3</span></a><a
                                class="Pagination-element Pagination-element_prev" href="#"><img
                                src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
