{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Фильтр
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <form class="form" method="get">
                                <div class="form-group">
                                    <div class="range Section-columnRange">
                                        <input class="range-line" id="price" name="price" type="text" data-type="double"
                                               data-min="{{ min_price_of_all }}" data-max="{{ max_price_of_all }}"
                                               data-from="{{ min_price }}" data-to="{{ max_price }}"/>
                                        <div class="range-price">Цена:&#32;
                                            <div class="rangePrice">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ filter_form.product_name }}
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
                                        {{ filter_form.in_stock }}<span class="toggle-box"></span><span
                                            class="toggle-text">Только товары в наличии</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
                                        {{ filter_form.free_shipping }}<span class="toggle-box"></span><span
                                            class="toggle-text">С бесплатной доставкой</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn_square btn_dark btn_narrow">Фильтр</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Популярные тэги
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="buttons">
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=1">Видео</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=2">Игры</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=3">Xbox</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=4">Новинка</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=5">Хит сезона</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=6">Музыка</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=7">Для дома</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=8">Творчество</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=9">Pro</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=10">Детям</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=11">Сделай сам</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=12">Классика</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=13">Подарок</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=14">Отпуск</a>
                                <a class="btn btn_default btn_sm"
                                   href="/products/catalog/?tags=15">Стильно</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Sort">
                        <div class="Sort-title">Сортировать по:
                        </div>
                        <div class="Sort-variants">
                             {% if sort_param == "pop_h2l" %}
                                 <a class="Sort-sortBy Sort-sortBy_inc "
                                    href="/products/catalog/?sort_param=pop_l2h{{ payload }}">Популярности</a>
                             {% elif sort_param == "pop_l2h" %}
                                <a class="Sort-sortBy Sort-sortBy_dec"
                                   href="/products/catalog/">Популярности</a>
                             {% else %}
                                <a class="Sort-sortBy"
                                   href="/products/catalog/?sort_param=pop_h2l{{ payload }}">Популярности</a>
                             {% endif %}

                            {% if sort_param == "price_h2l" %}
                                <a class="Sort-sortBy Sort-sortBy_inc "
                                   href="/products/catalog/?sort_param=price_l2h{{ payload }}">Цене</a>
                            {% elif sort_param == "price_l2h" %}
                                <a class="Sort-sortBy Sort-sortBy_dec"
                                   href="/products/catalog/">Цене</a>
                            {% else %}
                                <a class="Sort-sortBy"
                                   href="/products/catalog/?sort_param=price_h2l{{ payload }}">Цене</a>
                            {% endif %}

                            {% if sort_param == "review_h2l" %}
                                <a class="Sort-sortBy Sort-sortBy_inc"
                                   href="/products/catalog/?sort_param=review_l2h{{ payload }}">Отзывам</a>
                            {% elif sort_param == "review_l2h" %}
                                <a class="Sort-sortBy Sort-sortBy_dec "
                                   href="/products/catalog/">Отзывам</a>
                            {% else %}
                                <a class="Sort-sortBy"
                                   href="/products/catalog/?sort_param=review_h2l{{ payload }}">Отзывам</a>
                            {% endif %}

                            {% if sort_param == "new_h2l" %}
                                <a class="Sort-sortBy Sort-sortBy_inc"
                                   href="/products/catalog/?sort_param=new_l2h{{ payload }}">Новизне</a>
                            {% elif sort_param == "new_l2h" %}
                                <a class="Sort-sortBy Sort-sortBy_dec"
                                   href="/products/catalog/">Новизне</a>
                            {% else %}
                                <a class="Sort-sortBy"
                                   href="/products/catalog/?sort_param=new_h2l{{ payload }}">Новизне</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="Cards">
                        {% for product in products %}
                            <div class="Card">
                                <a class="Card-picture" href="#">
                                    {% if product.images.count %}
                                        <img src="{{ product.images.all.first.image_url }}" alt="{{ product.title }}"/>
                                    {% else %}
                                        <img src="{% static 'assets/img/product-placeholder.png' %}"
                                             alt="{{ product.title }}"/>
                                    {% endif %}
                                </a>
                                <div class="Card-content">
                                    <strong class="Card-title">
                                        <a href="{% url 'products:product' pk=product.pk %}">
                                            {{ product.title }}
                                        </a>
                                    </strong>
                                    <div class="Card-description">
                                        <div class="Card-cost">
                                <span class="Card-price">
                                  ${{ product.get_min_price }}
                                </span>
                                        </div>
                                        <div class="Card-category">
                                            {{ product.category }}
                                        </div>
                                        <div class="Card-hover">
                                            <a class="Card-btn"
                                               href="{% url 'products:add_to_comparison' pk=product.pk %}">
                                                <img src="{% static 'assets/img/icons/exchange.svg' %}"
                                                     alt="exchange.svg"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="Pagination">
                        <div class="Pagination-ins">
                            {% if page_obj.has_previous %}
                                <a class="Pagination-element Pagination-element_prev"
                                   href="/products/catalog?page={{ page_obj.previous_page_number }}{{ payload }}">
                                    <img src="{% static 'assets/img/icons/prevPagination.svg' %}"
                                         alt="prevPagination.svg"/>
                                </a>
                            {% else %}
                                <a class="Pagination-element Pagination-element_prev"
                                   href="/products/catalog?page=1{{ payload }}">
                                    <img src="{% static 'assets/img/icons/prevPagination.svg' %}"
                                         alt="prevPagination.svg"/>
                                </a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if num == page_obj.number %}
                                    <a class="Pagination-element Pagination-element_current"
                                       href="/products/catalog?page={{ num }}{{ payload }}">
                                        <span class="Pagination-text">{{ num }}</span>
                                    </a>
                                {% else %}
                                    <a class="Pagination-element"
                                       href="/products/catalog?page={{ num }}{{ payload }}">
                                        <span class="Pagination-text">{{ num }}</span>
                                    </a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="Pagination-element Pagination-element_prev"
                                   href="/products/catalog?page={{ page_obj.next_page_number }}{{ payload }}">
                                    <img src="{% static 'assets/img/icons/nextPagination.svg' %}"
                                         alt="nextPagination.svg"/>
                                </a>
                            {% else %}
                                <a class="Pagination-element Pagination-element_prev"
                                   href="/products/catalog?page={{ page_obj.number }}{{ payload }}">
                                    <img src="{% static 'assets/img/icons/nextPagination.svg' %}"
                                         alt="nextPagination.svg"/>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
