{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="Middle">
        <div class="wrap" style="padding-left: 0; margin-left: 0;">
            <div class="Product" style="padding-left: 0; margin-left: 0;">
                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% else %}
                    {% if impossible_to_compare %}
                        <p style="padding-left: 45px;">{{ impossible_to_compare }}</p>

                    {% else %}
                        <form method="get" action="{% url 'products:compare' %}"
                              style="padding-left: 45px;">
                            <input type="hidden" name="show_differences" value="false">
                            <label>
                                <input type="checkbox" name="show_differences" value="true"
                                       {% if show_differences %}checked{% endif %}/>
                                Только различающиеся характеристики
                            </label>
                            <input type="submit" value="Применить фильтр"
                                   style="width: 150px; height: 30px;">
                        </form>
                    {% endif %}
                    <div class="ProductCard">
                    {% for product in products %}
                        <div class="ProductCard-desc">
                            <div class="ProductCard-header">
                                <h2 class="ProductCard-title">{{ product.title }}
                                </h2>
                                <div class="ProductCard-look">
                                    {% with product.images.all|first as img %}
                                        {% if img %}
                                            <div class="ProductCard-photo">
                                                <img src="{{ img.image_url }}" alt="{{ img.image.name }}">
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="Tabs Tabs_default">
                                    {% if not impossible_to_compare %}
                                        <div class="Tabs-wrap">
                                            <div class="Tabs-block" id="description">
                                                <div class="table">
                                                    <table>
                                                        <tr>
                                                            <th class="hed">Характеристика</th>
                                                            <th class="hed">Значение</th>
                                                        </tr>
                                                        {% if not show_differences %}
                                                            <tr>
                                                                {% if all_categories_equal %}
                                                                    <td class="comparis">Тип</td>
                                                                    <td class="comparis">{{ product.category }}</td>
                                                                {% else %}
                                                                    <td>Тип</td>
                                                                    <td>{{ product.category }}</td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.features %}
                                                            {% for key, value in product.features.items %}
                                                                {% if not show_differences or key not in highlighted_keys %}
                                                                    <tr>
                                                                        {% if key in highlighted_keys %}
                                                                            <td class="comparis">{{ key }}</td>
                                                                            <td class="comparis"> {{ value }}</td>
                                                                        {% else %}
                                                                            <td>{{ key }}</td>
                                                                            <td> {{ value }}</td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <a class="Card-btn"
                                       href="{% url 'products:add_to_comparison' pk=product.pk %}">
                                        <img src="{% static 'assets/img/icons/exchange.svg' %}"
                                             alt="exchange.svg"/>
                                    </a>
                                </div>
                            </div>
                            <div class="ProductCard-info">
                                <div class="ProductCard-cost">
                                    <div class="ProductCard-price">
                                        ${{ product.get_avg_price_with_discount }}
                                    </div>
                                </div>
                            </div>
                            <form action="{% url 'products:cart_add_product' product.id %}" method="post">
                                <div class="ProductCard-cart">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1" required>
                                    <input type="hidden" name="is_override" id="id_is_override">
                                    <div class="ProductCard-cartElement">
                                        <button class="btn btn_primary" type="submit">
                                            <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                                            <span class="btn-content">Добавить в корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
