{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">
                Прогресс заполнения
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li
                    {% if step == "1" %}
                      class="menu-item_ACTIVE menu-item"
                    {% else %}
                      class="menu-item"
                    {% endif %}
                  >
                    <a class="menu-link" href="{% url 'orders:checkout' %}?step=1">
                      Шаг 1. Параметры пользователя
                    </a>
                  </li>
                  {% if step == "2" or step == "3" or step == "4" %}
                    <li
                      {% if step == "2" %}
                        class="menu-item_ACTIVE menu-item"
                      {% else %}
                        class="menu-item"
                      {% endif %}
                    >
                      <a class="menu-link" href="{% url 'orders:checkout' %}?step=2">
                        Шаг 2. Способ доставки
                      </a>
                    </li>
                  {% endif %}
                  {% if step == "3" or step == "4" %}
                    <li
                      {% if step == "3" %}
                        class="menu-item_ACTIVE menu-item"
                      {% else %}
                        class="menu-item"
                      {% endif %}
                    >
                      <a class="menu-link" href="{% url 'orders:checkout' %}?step=3">
                        Шаг 3. Способ оплаты
                      </a>
                    </li>
                  {% endif %}
                  {% if step == "4" %}
                    <li
                      {% if step == "4" %}
                        class="menu-item_ACTIVE menu-item"
                      {% else %}
                        class="menu-item"
                      {% endif %}
                    >
                      <a class="menu-link" href="{% url 'orders:checkout' %}?step=4">
                        Шаг 4. Подтверждение заказа
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="Section-content">

          {% if step == "1" %}
            <form class="form" action="{% url 'orders:checkout' %}?step=1" method="post">
              {% csrf_token %}
              <div class="Order-block Order-block_OPEN" id="step1">
                <header class="Section-header Section-header_sm">
                  <h2 class="Section-title">
                    Шаг 1. Параметры пользователя
                  </h2>
                </header>
                <div class="row">
                  <div class="row-block">

                    <!-- Step 1 - auto-generated form -->
                    {% for field in form %}
                      {% if field.auto_id != "id_password1" and field.auto_id != "id_password2" %}
                        <div class="form-group">
                          <label class="form-label" for="{{ field.auto_id }}">
                            {{ field.label }}
                          </label>
                          {{ field }}
                          <span style="color: red;">
                            {{ field.errors }}
                          </span>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                  <div class="row-block">
                    {% if not user.is_authenticated %}
                      {% for field in form %}
                        {% if field.auto_id == "id_password1" or field.auto_id == "id_password2" %}
                          <div class="form-group">
                            <label class="form-label" for="{{ field.auto_id }}">
                              {{ field.label }}
                            </label>
                            {{ field }}
                            <span style="color: red;">
                              {{ field.errors }}
                            </span>
                          </div>
                        {% endif %}
                      {% endfor %}

                      <div class="form-group">
                        <a class="btn btn_muted Order-btnReg" href="#">
                         Я уже зарегистрирован
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="Order-footer">
                  <button class="btn btn_success" type="submit">
                    Дальше
                  </button>
                </div>
              </div>
            </form>
          {% endif %}

          {% if step == "2" %}
            <form class="form" action="{% url 'orders:checkout' %}?step=2" method="post">
              {% csrf_token %}
                <div class="Order-block Order-block_OPEN" id="step2">
                <header class="Section-header Section-header_sm">
                  <h2 class="Section-title">
                    Шаг 2. Способ доставки
                  </h2>
                </header>

                <!-- Step 2 - auto-generated form -->
                {% for field in form %}
                  <div class="form-group">
                    <label class="form-label" for="{{ field.auto_id }}">
                      {{ field.label }}
                    </label>
                    {{ field }}
                  </div>
                {% endfor %}

                <div class="Order-footer">
                  <button class="btn btn_success" type="submit">
                    Дальше
                  </button>
                </div>
              </div>
            </form>
          {% endif %}

          {% if step == "3" %}
            <form class="form" action="{% url 'orders:checkout' %}?step=3" method="post">
              {% csrf_token %}
              <div class="Order-block Order-block_OPEN" id="step3">
                <header class="Section-header Section-header_sm">
                  <h2 class="Section-title">
                    Шаг 3. Способ оплаты
                  </h2>
                </header>

                <!-- Step 3 - auto-generated form -->
                {% for field in form %}
                  <div class="form-group">
                    <label class="form-label" for="{{ field.auto_id }}">
                      {{ field.label }}
                    </label>
                    {{ field }}
                  </div>
                {% endfor %}

                <div class="Order-footer">
                  <button class="btn btn_success" type="submit">
                    Дальше
                  </button>
                </div>
              </div>
            </form>
          {% endif %}

          {% if step == "4" %}
            <div class="Order-block Order-block_OPEN" id="step4">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">
                  Шаг 4. Подтверждение заказа
                </h2>
              </header>
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">
                          ФИО:
                        </div>
                        <div class="Order-infoContent">
                          {{ order.name }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                          Телефон:
                        </div>
                        <div class="Order-infoContent">
                          {{ order.phone }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                          E-mail:
                        </div>
                        <div class="Order-infoContent">
                          {{ order.email }}
                        </div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">
                          Тип доставки:
                        </div>
                        <div class="Order-infoContent">
                          {{ order.delivery }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                          Город:
                        </div>
                        <div class="Order-infoContent">
                          {{ order.city }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                          Адрес:
                        </div>
                        <div class="Order-infoContent">
                          {{ order.address }}
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">
                          Оплата:
                        </div>
                        <div class="Order-infoContent">
                          {{ order.payment }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="Cart Cart_order">

                  {% for item in cart  %}
                    <div class="Cart-product">
                      <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict">
                          <a class="Cart-pict" href="{% url 'products:product' item.product_position.product.pk %}">
                            {% with item.product_position.product.images.all|first as img %}
                              {% if img %}
                                <img class="Cart-img" src="{{ img.image_url }}" alt="{{ item.product_position }}" />
                              {% else %}
                                <img class="Cart-img" src="{% static "assets/img/product-placeholder.png" %}" alt="{{ item.product_position }}" />
                              {% endif %}
                            {% endwith %}
                          </a>
                        </div>
                        <div class="Cart-block Cart-block_info">
                          <a class="Cart-title" href="{% url 'products:product' item.product_position.product.pk %}">
                            {{ item.product_position }}
                          </a>
                          <div class="Cart-desc">
                            {{ item.product_position.product.description|truncatechars:256 }}
                          </div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                          <div class="Cart-price">
                            {{ item.total_price }}
                          </div>
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_amount">
                          {{ item.quantity }}
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                  <form class="form" action="{% url 'orders:checkout' %}?step=4" method="post">
                    {% csrf_token %}
                    <!-- Step 4 - auto-generated form -->
                    {% for field in form %}
                      <div class="form-group">
                        <label class="form-label" for="{{ field.auto_id }}">
                          {{ field.label }}
                        </label>
                        {{ field }}
                      </div>
                    {% endfor %}

                    <div class="Cart-total">
                      <div class="Cart-block Cart-block_total">
                        <strong class="Cart-title">
                          Итого:
                        </strong>
                        <span class="Cart-price">
                          {{ order.total_price }}
                        </span>
                        Доставка: {{ order.delivery_price }}
                        Товары: {{ cart.get_total_products_price }}
                      </div>
                      <div class="Cart-block">
                        <button class="btn btn_primary btn_lg" type="submit">
                          Оплатить
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
