{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Заказ №{{ order.id }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Orders">
                    </div>
                    <div class="Order">
                        <div class="Order-infoBlock">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="Order-info Order-info_date">
                                            <div class="Order-infoType">Дата заказа:
                                            </div>
                                            <div class="Order-infoContent">{{ order.created|date:"d.m.Y" }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">ФИО:
                                            </div>
                                            <div class="Order-infoContent">
                                                {% if order.name %}
                                                    {{ order.name }}
                                                {% else %}
                                                    No name
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Телефон:
                                            </div>
                                            <div class="Order-infoContent">
                                                {% if order.phone %}
                                                    {{ order.phone }}
                                                {% else %}
                                                    No name
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">E-mail:
                                            </div>
                                            <div class="Order-infoContent">
                                                {% if order.email %}
                                                    {{ order.email }}
                                                {% else %}
                                                    No email
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-block">
                                        <div class="Order-info Order-info_delivery">
                                            <div class="Order-infoType">Тип доставки:
                                            </div>
                                            <div class="Order-infoContent">
                                                {% if order.delivery_id == 1 %}
                                                    Обычная доставка
                                                {% else %}
                                                    Экспресс доставка
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Город:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.city }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Адрес:
                                            </div>
                                            <div class="Order-infoContent">
                                                {{ order.address }}
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_pay">
                                            <div class="Order-infoType">Оплата:
                                            </div>
                                            <div class="Order-infoContent">
                                                {% if order.payment == 'someone' %}
                                                    Онлайн со случайного чужого счета
                                                {% else %}
                                                    Онлайн картой
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_status">
                                            <div class="Order-infoType">Статус:
                                            </div>
                                            <div class="Order-infoContent">
                                                {% if order.status == 'created' %}
                                                    Сформирован
                                                {% elif order.status == 'unpaid' %}
                                                    Не оплачен
                                                {% elif order.status == 'paid' %}
                                                    Оплачен
                                                {% elif order.status == 'shipped' %}
                                                    В пути
                                                {% elif order.status == 'delivered' %}
                                                    Доставлен
                                                {% elif order.status == 'returned' %}
                                                    Возвращен
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if order.status == 'unpaid' %}
                                        <div class="Order-info Order-info_error">
                                            <div class="Order-infoType">Оплата не прошла:
                                            </div>
                                            <div class="Order-infoContent">Оплата не выполнена
                                            </div>
                                        </div>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                            <div class="Cart Cart_order">
                                {% for prod in products %}
                                <div class="Cart-product">
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{{ prod.product_position.product.images }}" alt="card.jpg" /></a>
                                        </div>
                                        <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ prod.product_position.product.title }}</a>
                                            <div class="Cart-desc">{{ prod.product_position.product.description|truncatechars:120 }}
                                            </div>
                                        </div>
                                        <div class="Cart-block Cart-block_price">
                                            <div class="Cart-price">{{ prod.price }}$
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_row">

                                        <div class="Cart-block Cart-block_amount">{{ prod.quantity }}шт.
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="Cart-total">
                                    <div class="Cart-block Cart-block_total">
                                        <strong class="Cart-title">Итого:<span class="Cart-price">{{ order.total_price }}$</span>
                                        </strong>
                                    </div>
                                    <div class="Cart-block"><a class="btn btn_primary btn_lg" href="{% url 'orders:payment_with_params' order_id=order.id%}">Оплатить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
