{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                <form class="form Payment" action="{% url 'orders:payment' %}" method="post">
                    <div class="Payment-card">
                        <div class="form-group">
                            <label class="form-label">Номер счета
                            {% csrf_token %}
                            {{ form.card_number }}
<!--                            </label>-->
<!--                            <input class="form-input Payment-bill" id="numero1" name="numero1" type="text" placeholder="9999 9999" data-mask="9999 9999" data-validate="require pay" />-->
                        </div>
                        <div class="form-group"><a class="btn btn_success Payment-generate" href="#">Сгенирировать случайный счет</a>
                        </div>
                    </div>
                    <div class="Payment-pay"><button class="btn btn_primary">Оплатить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}