{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                <div class="ProgressPayment">
                    <div class="ProgressPayment-title">Ждем подтверждения оплаты платежной системой
                    </div>
                    </br>
                    <div class="ProgressPayment-title"><a class="" href="{% url 'users:history_order' user.id %}">Вы можете посмотреть статус оплаты заказа в Личном кабинете</a>
                    </div>
                    <div class="ProgressPayment-icon">
                        <div class="cssload-thecube">
                            <div class="cssload-cube cssload-c1"></div>
                            <div class="cssload-cube cssload-c2"></div>
                            <div class="cssload-cube cssload-c4"></div>
                            <div class="cssload-cube cssload-c3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
