{% extends "users/base-account.html" %}
{% load static %}

{% block account_section %}
    <div class="Section-content">
        <div class="Orders">
            {% for order in orders %}
            <div class="Order Order_anons">
                <div class="Order-personal">
                    <div class="row">
                        <div class="row-block"><a class="Order-title" href="{% url 'orders:order_detail' order.id %}">Заказ&#32;<span class="Order-numberOrder">№{{ order.id }}</span>&#32;от&#32;<span class="Order-dateOrder">{{ order.created|date:"d.m.Y" }}</span></a>
                        </div>
                        <div class="row-block">
                            <div class="Order-info Order-info_delivery">
                                <div class="Order-infoType">Тип доставки:
                                </div>
                                <div class="Order-infoContent">
                                    {% if order.delivery_id == 1 %}
                                        Обычная доставка
                                    {% else %}
                                        Экспресс доставка
                                    {% endif %}
                                </div>
                            </div>
                            <div class="Order-info Order-info_pay">
                                <div class="Order-infoType">Оплата:
                                </div>

                                <div class="Order-infoContent">
                                    {% if order.payment == 'someone' %}
                                        Онлайн со случайного чужого счета
                                    {% else %}
                                        Онлайн картой
                                    {% endif %}
                                </div>
                            </div>
                            <div class="Order-info">
                                <div class="Order-infoType">Общая стоимость:
                                </div>
                                <div class="Order-infoContent"><span class="Order-price">{{ order.total_price }}$</span>
                                </div>
                            </div>
                            <div class="Order-info Order-info_status">
                                <div class="Order-infoType">Статус:
                                </div>
                                <div class="Order-infoContent">
                                    {% if order.status == 'created' %}
                                        Сформирован
                                    {% elif order.status == 'unpaid' %}
                                        Не оплачен
                                    {% elif order.status == 'paid' %}
                                        Оплачен
                                    {% elif order.status == 'shipped' %}
                                        В пути
                                    {% elif order.status == 'delivered' %}
                                        Доставлен
                                    {% elif order.status == 'returned' %}
                                        Возвращен
                                    {% endif %}
                                </div>
                            </div>
                            {% if order.status == 'unpaid' %}
                                <div class="Order-info Order-info_error">
                                                <div class="Order-infoType">Оплата не прошла:
                                                </div>
                                                <div class="Order-infoContent">Оплата не выполнена
                                                </div>
                                </div>
                            {% endif%}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}